# Practice for Lesson 2: Timeseries Data

## Problem 1

using and finding methods/functions on a list

Solution (dropdown)

## Problem 2

In the lecture notebook we used a DISCOVER-AQ datafile from July 1st 2011. There is another DISCOVER-AQ datafile in that folder from July 2nd. It is located in the following filepath: `efs` > `sarp` > `data` > `rawdata_readonly` > `test-flight-data` > `discoveraq-mrg01-p3b_merge_20110702_R4.ict`. Open that datafile with pandas.

Solution (dropdown)

In [6]:
from pathlib import Path

import pandas as pd

In [7]:
DATADIR = Path('/efs/sarp/data/rawdata_readonly')

In [10]:
file = (
    DATADIR
    / 'flight-test-data'
    / 'discoveraq-mrg60-p3b_merge_20110702_R4.ict'
)

In [11]:
discover = pd.read_csv(file, skiprows=171)

In [12]:
discover

,UTC,JDAY,INDEX,FLIGHT,LOCAL_SUN_TIME,LATITUDE,LONGITUDE,ALTP,PRESSURE,TEMPERATURE,...,Chloride,Nitrite,Nitrate,Sulfate,Sodium,Ammonium,Potassium,Magnesium,Calcium,Water-Soluble_Organic_Carbon_Mass
0,51750,183,20001,2,9.353535,37.959257,284.553018,0.055988,1007.426333,299.906161,...,-999999.000,-999999.0,-999999,-999999.000000,-999999,-999999,-999999.000,-999999.0,-999999.000,-999999
1,51810,183,20002,2,9.371324,38.013768,284.569862,0.350129,972.977167,296.754327,...,-999999.000,-999999.0,-999999,-999999.000000,-999999,-999999,-999999.000,-999999.0,-999999.000,-999999
2,51870,183,20003,2,9.387102,38.076020,284.556523,0.744411,928.228333,293.069494,...,-999999.000,-999999.0,-999999,-999999.000000,-999999,-999999,-999999.000,-999999.0,-999999.000,-999999
3,51930,183,20004,2,9.402756,38.139093,284.541337,1.152438,883.590000,289.399994,...,-999999.000,-999999.0,-999999,-999999.000000,-999999,-999999,-999999.000,-999999.0,-999999.000,-999999
4,51990,183,20005,2,9.417434,38.200273,284.511510,1.330450,864.491333,287.805327,...,-999999.000,-999999.0,-999999,-999999.000000,-999999,-999999,-999999.000,-999999.0,-999999.000,-999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,78690,183,20450,2,16.810123,37.880018,284.151847,1.047993,895.243500,292.991994,...,-888888.000,-888888.0,-999999,2.832000,-999999,-999999,0.564,-888888.0,0.067,-999999
450,78750,183,20451,2,16.832849,37.895400,284.242733,1.051345,894.852000,292.699327,...,-888888.000,-888888.0,-999999,2.832000,-999999,-999999,0.564,-888888.0,0.067,-999999
451,78810,183,20452,2,16.855205,37.920430,284.328080,0.864295,915.112167,293.771827,...,-888888.000,-888888.0,-999999,2.482962,-999999,-999999,0.564,-888888.0,0.067,-999999
452,78870,183,20453,2,16.877198,37.948003,284.407977,0.468354,959.343167,296.713327,...,0.137,-888888.0,-999999,2.469000,-999999,-999999,-999999.000,-999999.0,-999999.000,-999999
453,78930,183,20454,2,16.898267,37.969373,284.474010,0.424281,964.303333,295.737327,...,0.137,-888888.0,-999999,2.469000,-999999,-999999,-999999.000,-999999.0,-999999.000,-999999

## Problem 3

fillna

Solution (dropdown)

## Problem 4

open up both july 1 and july 2 dataframe and merge them together, so they form one long dataframe.

Solution (dropdown)