# Practice for Lesson 2: Timeseries Data

## Problem 1

[This article](https://towardsdatascience.com/python-list-methods-fa7c53010300) linked in the lecture describes a few common list methods.  Scroll down to where the article talks about `pop()` and apply that to our `pollutants` list by removing 'co' from the list.

In [ ]:
pollutants = ['co', 'co2', 'no2', 'o3']

:::{dropdown} Solution
```
pollutants.pop(0)
print(pollutants)
```
:::

## Problem 2

In the lecture notebook we used a DISCOVER-AQ datafile from July 1st 2011. There is another DISCOVER-AQ datafile in that folder from July 2nd. It is located in the following filepath: `efs` > `sarp` > `data` > `rawdata_readonly` > `test-flight-data` > `discoveraq-mrg01-p3b_merge_20110702_R4.ict`. Open that datafile with pandas. Print the column names and then display the `NO` column of data.

:::{dropdown} Solution
```
from pathlib import Path

import pandas as pd

DATADIR = Path('/efs/sarp/data/rawdata_readonly')

file = (
    DATADIR
    / 'flight-test-data'
    / 'discoveraq-mrg60-p3b_merge_20110702_R4.ict'
)

discover = pd.read_csv(file, skiprows=171)
# print the column names
print(discover.columns.values)
# print the NO column of data
print(discover[' NO'])

```
:::

## Problem 3

We noted in lecture that our data frame has no data values in it: -999999 and -888888. Change these values to a NaN (Not a Number) value. You can use either numpy's nan (`np.nan`) or pandas `pd.NA`. (If you use numpy be sure to `import numpy as np`). Update your dataframe with the nan-filled dataframe.

:::{dropdown} Hint

Google suggestion: "pandas substitute -9999 for nan"

:::

:::{dropdown} Hint

Potentially [helpful link](https://sparkbyexamples.com/pandas/pandas-replace-nan-values-by-zero-in-a-column/).

:::

:::{dropdown} Solution
```
import numpy as np
discover = discover.replace([-999999, -888888], np.nan)
```
:::